.cover-page {
  width:100%;
  height:auto;
}

:root {
  background-color: black;
}

span {
  color:blue
}

h1{
  letter-spacing: -1px;
}

h1, p{
  color: white;
  font-family: Helvetica;
}

.artists-hub-images{
  width: 100%;
  height: auto;
  margin-top: 6px;
  margin-bottom: 6px;
}

h2{
  color:#333
}